@model IEnumerable<OTMF_NETCORE_MVC.Models.Accesorio>

@{
    ViewData["Title"] = "Index";
}

<div class="container-fluid">
    <div class="row">
 
    <partial name="_navigationColumnPartes"/>
        <div class="col-12">
            <fieldset>
                <legend>Accesorios</legend>
 <table class="table" id="Accessorios">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombreAccesorio)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreAccesorio)
            </td>
            <td>
                <div class="btns-group">
                            <a asp-action="Edit" asp-route-id="@item.IdAccesorio"   class="btn btn-lg btn-primary">Editar</a> 
            
                <a asp-action="Delete" asp-route-id="@item.IdAccesorio" class="btn btn-lg btn-danger" >Eliminar</a>
                </div>
        
            </td>
        </tr>
}
    </tbody>
</table>


            </fieldset>
  
    </div>
    </div>
    



</div>


@section Scripts{
    <script>
        
$(document).ready(function () {


    $("#Accessorios").DataTable({
          dom:'Bfrtip',
        buttons:[
             {
                text:'<i class="fa fa-plus" aria-hidden="true"><div class="badge"></div></i>',
                tittleAttr: 'creadas hoy',
                className:'btn btn-lg btn-secondary',
                action: function() {
                    
                    window.location.href = "@Url.Action("Create")";
                 
                }
            }
        ]
    });

   


});


    </script>
}


