@model IEnumerable<OTMF_NETCORE_MVC.Models.Turno>

@{
    ViewData["Title"] = "Index";
}

<div class="container-fluid">
    <div class="row">
     <div class="col-1 bg-gradient-primary">
                 <partial name="_navigationColumnPartes"/>
        
        </div>

        <div class="col-10 offset-1">
            <fieldset>
                <legend>Turnos</legend>
                     <table class="table" id="Turnos">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombreTurno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HoraSalida)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HoraEntrada)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreTurno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoraSalida)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoraEntrada)
            </td>
            <td>
                <div class="btns-group">

                <a asp-action="Edit" asp-route-id="@item.IdTurno"     class="btn btn-lg btn-primary">Edit</a> 
                <a asp-action="Delete" asp-route-id="@item.IdTurno"   class="btn btn-lg btn-danger" >Delete</a>

                </div>
            
            </td>
        </tr>
}
    </tbody>
</table>


            </fieldset>
  
    </div>
    </div>
    



</div>


@section Scripts{
    <script>
        
$(document).ready(function () {
    $("#Turnos").DataTable({
          dom:'Bfrtip',
        buttons:[
             {
                text:'<i class="fa fa-plus" aria-hidden="true"><div class="badge"></div></i>',
                tittleAttr: 'creadas hoy',
                className:'btn btn-lg btn-secondary',
                action: function() {
                    window.location.href = "@Url.Action("Create")";
                 
                }
            }
        ]
    });
});


    </script>
}


