@model OTMF_NETCORE_MVC.Models.Caja

@{
    ViewData["Title"] = "Details";
}



<div class="container">
    <h1>Details</h1>
    <h4 class="display-6">Caja</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreCaja)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreCaja)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LogoCaja)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LogoCaja)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EtiquetaDeCaja)
        </dt>
        <dd class = "col-sm-10">
           <p id="EtiquetaDeCaja">@Html.DisplayFor(model => model.EtiquetaDeCaja)</p> 
        </dd>
    </dl>
    <div class="row">
        <div id="imagenCaja" class="card">
            
        </div>
       
    </div>
    <div class="mt-2">
         <a asp-action="Edit" class="btn btn-lg btn-warning" asp-route-id="@Model?.IdCaja">Editar</a> 
    <a asp-action="Index" class="btn btn-lg btn-warning">Regresar</a>
    </div>
</div>

@section Scripts{
   <script src="~/js/Cajas.js" type="text/javascript"></script>
}