
@model IEnumerable<OTMF_NETCORE_MVC.Models.Caja>

@{
    ViewData["Title"] = "Index";
}




<div class="container-fluid">
    <div class="row">
  <partial name="_navigationColumnPartes"/>

        <div class="col-9">
            <fieldset>
                <legend>Cajas</legend>
<table class="table" id="Cajas">
    <thead>
        <tr>
            <th>
               Nombre de la Caja
            </th>
            <th>
                Logo de la Caja
            </th>
            <th>
                Etiqueta de la Caja
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreCaja)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LogoCaja)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EtiquetaDeCaja)
            </td>
            <td>
                <div class="btns-group">
                      <a asp-action="Edit"    class="btn btn-lg btn-primary"    asp-route-id="@item.IdCaja">Editar</a> 
              
                <a asp-action="Delete"  class="btn btn-lg btn-danger"   asp-route-id="@item.IdCaja">Eliminar</a>
                </div>
              
            </td>
        </tr>
}
    </tbody>
</table>


            </fieldset>
  
    </div>
    </div>
    



</div>








@section Scripts{
    <script src="~/js/Cajas/IndexCajas.js" type="text/javascript"></script>
}

