@model IEnumerable<OTMF_NETCORE_MVC.Models.Pintura>

@{
    ViewData["Title"] = "Index";
}


<div class="container-fluid">
    <div class="row">
    <div class="col-3">
        <fieldset>
            <legend><h5 class="display-6">Gestionar</h5></legend>
        <div class="d-flex flex-column flex-shrink-0 p-1 bg-light">
  
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a class="nav-link link-dark" asp-controller="Partes"  asp-action="Index">
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#home"></use></svg>
           Partes
        </a>
      </li> <li class="nav-item">
        <a class="nav-link link-dark" asp-controller="Moldes"  asp-action="Index">
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#home"></use></svg>
           Molde
        </a>
      </li>
      <li>
        <a class="nav-link link-dark" asp-controller="Accesorios"  asp-action="Index">
            <svg class="bi me-2" width="16" height="16"></svg>
         Accessorio
        </a>
      </li>
      <li>
        <a class="nav-link link-dark" asp-controller="Insertoes"  asp-action="Index">
            <svg class="bi me-2" width="16" height="16"></svg>
         Inserto
        </a>
      </li> 
      <li>
        <a class="nav-link active" asp-controller="Pinturas"  asp-action="Index">
            <svg class="bi me-2" width="16" height="16"></svg>
         Pintura
        </a>
      </li>
      <li>
        <a class="nav-link link-dark" asp-controller="Hules"  asp-action="Index">
            <svg class="bi me-2" width="16" height="16"></svg>
         Hule
        </a>
      </li>
      <li>
        <a class="nav-link link-dark" asp-controller="Estandars"  asp-action="Index">
            <svg class="bi me-2" width="16" height="16"></svg>
         Estandar
        </a>
      </li>
      <li>
        <a class="nav-link link-dark" asp-controller="Ensambles"  asp-action="Index">
            <svg class="bi me-2" width="16" height="16"></svg>
         Ensamble
        </a>
      </li>
      <li>
        <a class="nav-link link-dark" asp-controller="EstandarConRelevoes"  asp-action="Index">
            <svg class="bi me-2" width="16" height="16"></svg>
         Estandar CR
        </a>
      </li>
      <li>
        <a class="nav-link link-dark" asp-controller="Etiquetums"  asp-action="Index">
            <svg class="bi me-2" width="16" height="16"></svg>
         Etiqueta
        </a>
      </li>
      
      <li>
        <a class="nav-link link-dark" asp-controller="Tarimas"  asp-action="Index">
            <svg class="bi me-2" width="16" height="16"></svg>
         Tarima
        </a>
      </li>
      <li>
        <a class="nav-link link-dark" asp-controller="Colors"  asp-action="Index">
            <svg class="bi me-2" width="16" height="16"></svg>
         Color
        </a>
      </li>

      <li>
        <a class="nav-link link-dark" asp-controller="Cajas"  asp-action="Index">
            <svg class="bi me-2" width="16" height="16"></svg>
         Caja
        </a>
      </li>
      <li>
        <a class="nav-link link-dark" asp-controller="Clientes"  asp-action="Index">
            <svg class="bi me-2" width="16" height="16"></svg>
         Clientes
        </a>
      </li>
    </ul>
    <hr>
  
  </div>
  </fieldset>
    </div>

        <div class="col-9">
            <fieldset>
                <legend>Pinturas</legend>
<table class="table" id="Pinturas">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombrePintura)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombrePintura)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdPintura">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdPintura">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdPintura">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>


            </fieldset>
  
    </div>
    </div>
    



</div>


@section Scripts{
    <script>
        
$(document).ready(function () {


    $("#Pinturas").DataTable({
          dom:'Bfrtip',
        buttons:[
             {
                text:'<i class="fa fa-plus" aria-hidden="true"><div class="badge"></div></i>',
                tittleAttr: 'creadas hoy',
                className:'btn btn-lg btn-secondary',
                action: function() {
                    
                    window.location.href = "@Url.Action("Create")";
                 
                }
            }
        ]
    });

   


});


    </script>
}



