@model OTMF_NETCORE_MVC.Models.OrdenTrabajo

@{
    ViewData["Title"] = "Eliminar Orden Trabajo";
}
<div id="wrapper">
    <partial name="_navigationColumnPartes" />
        <div id="content-wrapper" class="d-flex flex-column">
           
            <div id="content">
                <div class="container-fluid mt-1">
                     <div class="row">
        <div class="d-flex justify-content-center">
        
<h3>Estas seguro que deseas eliminar esta orden de trabajo?</h3>

        </div>
    </div>
      <dl class="row">
          <dt class="col-sm-2">
             Clave
          </dt>
          <dd class="col-sm-10">
              @Html.DisplayFor(model => model.IdCodigoOrdenTrabajo)
          </dd>
        <dt class = "col-sm-2">
          Fecha de creacion
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaOrdenTrabajo)
        </dd>
        <dt class = "col-sm-2">
            Cantidad de piezas por orden
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CantidadPiezasPororden)
        </dd>
      
        <dt class = "col-sm-2">
            Piezas realizadas
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PiezasRealizadas)
        </dd>
        <dt class = "col-sm-2">
            Hora de Inicio
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HoraInicio)
        </dd>
        <dt class = "col-sm-2">
         Hora de finalizacion
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HoraFinalizacion)
        </dd>
      
    </dl>
   
    <hr />
  <div class="row">
      <div class="col-6">

      </div>
      <form asp-action="Delete">
        <input type="hidden" asp-for="IdOrdenTrabajo" />
        <div class="btns-group">
            <input type="submit" value="Eliminar" class="btn btn-danger" /> 
        <a asp-action="Index" class="btn btn-primary">Cancelar</a>
   
        </div>
         </form>

  </div>
                </div>
            <h1>Eliminar</h1>


        </div>
    </div>  
    
   
    
    
</div>
