@model OTMF_NETCORE_MVC.Models.OrdenTrabajo

@{
    ViewData["Title"] = "Edit";
}

<div class="container">
    <div class="row">
    <div class="col-4">
     
        <h1><input type="hidden" asp-for="IdOrdenTrabajo" id="IdOrdenTrabajo" /></h1>
        <form>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
         <!----------------------------------------------------------------------->
                <input asp-for="IdEmpleadoMoldeadorFk" type="hidden" class="form-control" />
                <input asp-for="IdEmpleadoEmpacadorFk" type="hidden" class="form-control" />
                <input asp-for="IdMaquinaFk" type="hidden" class="form-control" />
                <input type="hidden"  asp-for="IdOrdenTrabajo" />
                <input asp-for="FechaOrdenTrabajo" type="hidden" class="form-control" />
                <input asp-for="HoraInicio" type="hidden" class="form-control" />
                <input asp-for="IdCodigoOrdenTrabajo" type="hidden" class="form-control" />
                <input type="hidden" asp-for="IdEstandarPorHoraFk" class="form-control" />
                <input asp-for="MaxScrap" type="hidden" class="form-control" />
                <input type="hidden" asp-for="IdEstandarConRelevoFk" class="form-control" />
                <input asp-for="CajasRecibidas" type="hidden" class="form-control" />
                <input asp-for="EtiquetaDeCaja" type="hidden" class="form-control" />
                <input asp-for="IdEmpeadoSupervisorFk" type="hidden" class="form-control" />
                <input type="hidden" asp-for="HoraFinalizacion" class="form-control" />
         <!------------------------------------------------------------------------>
           <div class="form-group">
                <label asp-for="IdParteFk" class="control-label"> Nombre de Pieza</label>
                <select asp-for="IdParteFk" id="IdParteFK" class="form-control" asp-items="ViewBag.IdParteFk"></select>
                <span asp-validation-for="IdParteFk"  class="text-danger"></span>
           </div>
                         
            <div class="form-group">
                <label asp-for="CantidadPiezasPororden" class="control-label">Cantidad de Piezas por Orden</label>
                <input asp-for="CantidadPiezasPororden" id="CantidadPiezasPorOrden" class="form-control" />
                <span asp-validation-for="CantidadPiezasPororden" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <input type="button" value="Save" onclick="UpdateOrdenTrabajo()" class="btn btn-primary btn-lg" />
                 <a asp-action="Index" class="btn btn-info btn-lg">Back to List</a>
            </div>
        </form>
    </div>
    <div class="col-4">
       
            <div class="form-group">
                <label asp-for="PiezasRealizadas" class="control-label"> Piezas Realizadas</label>
                <input asp-for="PiezasRealizadas" id="PiezasRealizadas" class="form-control" />
                <span asp-validation-for="PiezasRealizadas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdInstructivoFk" class="control-label"> Instructivo</label>
                <select asp-for="IdInstructivoFk" id="IdInstructivoFK" class="form-control" asp-items="ViewBag.IdInstructivoFk"></select>
                <span asp-validation-for="IdInstructivoFk" class="text-danger"></span>
            </div>
          
            <div class="form-group">
                <label asp-for="IdEstadoOrdenFk" class="control-label"> Estado Orden</label>
                <select asp-for="IdEstadoOrdenFk" id="IdEstadoOrdenFK" class="form-control" asp-items="ViewBag.IdEstadoOrdenFk"></select>
                <span asp-validation-for="IdEstadoOrdenFk" class="text-danger"></span>
            </div>
</div>
<div class="col-4">
    <div class="container">
   <div class="row">

        <h5>Empleado asignados</h5>
    <div class="form-group">
   

        <div id="EmpleadosRelacionados">

        </div>
    </div>

   </div>
   <div class="row">
       <h5>Maquinas Asignadas</h5>
    <div class="form-group">
   

        <div id="MaquinasRelacionadas">

        </div>
    </div>


   </div>
    </div>

   

</div>
</div>


</div>


<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Asignar Empleados</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="form">
            <form>
              <div class="m-2">
                   <select id="EleccionEmpleado" class ="form-control" asp-items="ViewBag.Empleado">
                     
                     <option disabled selected> Seleccionar Empleado</option>
                   </select>
              </div>
            </form>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-bs-dismiss="modal" >Aceptar</button>
        <button type="button" class="btn btn-primary" onclick="GuardarCambiosEmpleados()">Guardar</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="MaquinaModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Eleguir Empleados</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="form-group">
            <form>
              <div class="m-2">
                   <select id="EleccionMaquina" class ="form-control" asp-items="ViewBag.Maquinas">
                     <option disabled selected> Seleccionar Maquina</option>
                   </select>
              </div>
            </form>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" onclick="UpsertMaquinasAsignadasByOTId()">Guardar</button>
      </div>
    </div>
  </div>
</div>


@section Scripts {

    <script>

$(document).ready(function (){
    localStorage.clear();
    var IdOrdenTrabajo = document.getElementById('IdOrdenTrabajo').value;
    localStorage.setItem('currentOT', IdOrdenTrabajo);
    GetEmpleadosByOTId(IdOrdenTrabajo);
    ObtenerMaquinasAsignadasByOTId(IdOrdenTrabajo);
});

   function DeleteAsignacionEmpleadoOTById(id) {
          $.ajax({
              type: "Delete",
              url: '@Url.Action("DeleteAsignacionEmpleadoOTById","OTEstado")',
              data: {idEmpleadoOrdenTrabajo:id},
              dataType:"json",
              success: function(data) {
                  var idcurrentOT = localStorage.getItem('currentOT');
                  GetEmpleadosByOTId(idcurrentOT);
              }
          });                
      }
      function GetEmpleadosByOTId(idOrdenTrabajo) {
          $.ajax({
                    type: "POST",
                    url:'@Url.Action("ObtenerEmpleadosByOTId","OTEstado")',
                    data: {id:idOrdenTrabajo},
                    dataType:"json",
                    success: function(data) {
                       
       
                        FillEmpleados(data,idOrdenTrabajo);
                    }
          });


      }
        function FillEmpleados(data,idOrdenTrabajo) {
            var x = 0;
            console.log(data);
            $("#EmpleadosRelacionados").html("");
         
                $.each(data.data, function(n) {
                    
                    if (data.data[x].idTipoEmpleadoFK == 4) {
                        $("#EmpleadosRelacionados").append("<section id='empleadoEmpacador' class='p-1 m-1 bg-secondary'>"
                            + "<div class='badge bg-light text-dark'><h5>Empacador </h5><p>"
                            + data.data[x].nombreEmpleado + "</p></div>"+
                            "<button class='btn btn-lg btn-primary m-1 p-2' data-bs-toggle='modal' data-bs-target='#staticBackdrop' onclick=\"SetEditEmpleado(\'" + data.data[x].idEmpleadoOrdenTrabajo + "\');\"><i class='fas fa-edit'></i></button>"+
                            "<button class='btn btn-lg btn-primary m-1 p-2'  onclick=\"DeleteAsignacionEmpleadoOTById(\'" + data.data[x].idEmpleadoOrdenTrabajo + "\');\"><i class='fa fa-trash' aria-hidden='true'></i></button> </section>");
                     
                    }
                    if (data.data[x].idTipoEmpleadoFK == 3) {
                        $("#EmpleadosRelacionados").append("<section id='empleadoMoldeador' class='p-1 m-1 bg-secondary'>"
                            + "<div class='badge bg-light text-dark'><h5>Moldeador </h5><p>"
                            + data.data[x].nombreEmpleado + "</p></div>" +
                            "<button class='btn btn-lg btn-primary m-1 p-2' data-bs-toggle='modal' data-bs-target='#staticBackdrop' onclick=\"SetEditEmpleado(\'" + data.data[x].idEmpleadoOrdenTrabajo + "\');\"><i class='fas fa-edit' ></i></button>"+
                            "<button class='btn btn-lg btn-primary m-1 p-2'  onclick=\"DeleteAsignacionEmpleadoOTById(\'" + data.data[x].idEmpleadoOrdenTrabajo + "\');\"><i class='fa fa-trash' aria-hidden='true'></i></button> </section>");
                       
                       
                    
                    }

                    x++;
                });
         
                  $("#EmpleadosRelacionados").append("<section class='m-1'>"+
                            "<button type='button' class='btn btn-primary m-1'  data-bs-toggle='modal' data-bs-target='#staticBackdrop'>"+
                            "Agregar Empleados Asignados</button>"
                            + "</section>");
           
        
        }
function SetEditEmpleado(data) {
    
    localStorage.setItem('EditRelacion', data);
   
}
function GuardarCambiosEmpleados() {
        var idMovimiento = localStorage.getItem('EditRelacion');
        var idEmpleado = $("#EleccionEmpleado").val();
        var currentOT = localStorage.getItem('currentOT');
    
      $.ajax({
                    type: "POST",
                    url:'@Url.Action("UpsertAsignacionEmpleadoOTById","OTEstado")',
                    data: {
                        idOrdenTrabajo:currentOT,
                        idEmpleado:idEmpleado,
                        idRelacion:idMovimiento
                    },
                    dataType:"json",
                    success: function(data) {
                     
                        GetEmpleadosByOTId(currentOT);
                        
                    }
          });
}

        function ObtenerMaquinasAsignadasByOTId(IdOrdenTrabajo) {
                
            $.ajax({
                type:"POST",
                url:'@Url.Action("ObtenerMaquinasAsignadasByOTId")',
                data: {
                    IdOrdenTrabajo:IdOrdenTrabajo
                },
                dataType:"json",
                success: function(data) {
                    $("#MaquinasRelacionadas").html("");
                    FillMaquinas(data);
                }
            });
        
        }

        function FillMaquinas(data) {
            
            $.each(data.data, function(n) {
          
                ObtenerMaquinasById(data.data[n]);

            });
              $("#MaquinasRelacionadas").append("<section class='m-1'>"+
                            "<button type='button' class='btn btn-primary m-1'  data-bs-toggle='modal' data-bs-target='#MaquinaModal'>"+
                            "Asignar Maquina</button>"
                            + "</section>");

        }

 function ObtenerMaquinasById(dataRel){
     
    $.ajax({
        type:"POST",
        url:"@Url.Action("ObtenerMaquinaById")",
        data: {
            IdMaquina:dataRel.IdMaquinaFK
        }
        ,dataType:"json",
        success: function(data) {
            console.log(dataRel);
             $("#MaquinasRelacionadas").append("<section id='Maquina' class='p-1 m-1 bg-secondary'>"
                            + "<div class='badge bg-light text-dark'><h5>Maquina </h5><p>"
                            + data.data.nombreMaquina + "</p></div>" +
                            "<button class='btn btn-lg btn-primary m-1 p-2' data-bs-toggle='modal' data-bs-target='#MaquinaModal' onclick=\"SetMaquinasAsignadasByOTId(\'" + dataRel.IdMaquinaOrdeTrabajo + "\');\"><i class='fas fa-edit' ></i></button>"+
                            "<button class='btn btn-lg btn-primary m-1 p-2'  onclick=\"DeleteMaquinasAsignadasByOTId(\'" + dataRel.IdMaquinaOrdeTrabajo + "\');\"><i class='fa fa-trash' aria-hidden='true'></i></button> </section>");
     
        }
    });
}

function SetMaquinasAsignadasByOTId(IdMaquinaOrdenTrabajo) {
    localStorage.setItem('IdMaquinaOrdenTrabajo', IdMaquinaOrdenTrabajo);
}
function UpsertMaquinasAsignadasByOTId() {
      
        var IdMaquinaOrdenTrabajo = localStorage.getItem('IdMaquinaOrdenTrabajo');
        var IdMaquina = $("#EleccionMaquina").val();
        var IdOrdenTrabajo = localStorage.getItem('currentOT');
   
    $.ajax({
        type: "POST",
        url: "@Url.Action("UpsertMaquinasAsignadasByOTId")",
        data: {
            IdMaquinaOrdenTrabajo:IdMaquinaOrdenTrabajo,
            IdOrdenTrabajo:IdOrdenTrabajo,
            IdMaquina:IdMaquina
        }, dataType: "json",
        success: function(data) {
            ObtenerMaquinasAsignadasByOTId(IdOrdenTrabajo);
        }
    });
}
function DeleteMaquinasAsignadasByOTId(IdMaquinaOrdenTrabajo) {
      var IdOrdenTrabajo = localStorage.getItem('currentOT');
    $.ajax({
        type:"POST",
        url: "@Url.Action("DeleteMaquinasAsignadasByOTId")",
        data: {
            IdMaquinaOrdenTrabajo:IdMaquinaOrdenTrabajo
        },dataType:"json",
        success: function(data) {
              $("#MaquinasRelacionadas").html("");
             ObtenerMaquinasAsignadasByOTId(IdOrdenTrabajo);
        }
    });
}
function UpdateOrdenTrabajo() {
    var IdOrdenTrabajo = $("#IdOrdenTrabajo").val();
    var IdParteFK = $("#IdParteFK").val();
    var CantidadPiezasPorOrden = $("#CantidadPiezasPorOrden").val();
    var IdInstructivoFK = $("#IdInstructivoFK").val();
    var IdEstadoOrdenFK = $("#IdEstadoOrdenFK").val();
    $.ajax({
        type: "POST",
        url: "@Url.Action("UpdateOrdenTrabajo")",
        data: {
            IdOrdenTrabajo: IdOrdenTrabajo,
            IdParteFK: IdParteFK,
            CantidadPiezasPorOrden: CantidadPiezasPorOrden,
            IdInstructivoFK: IdInstructivoFK,
            IdEstadoOrdenFK: IdEstadoOrdenFK
        },
        dataType: "json",
        success: function(data) {
            window.location.href = "@Url.Action("Index")"; 
            
        }
    });
}


    </script>
   

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
