@model IEnumerable<OTMF_NETCORE_MVC.Models.OrdenTrabajo>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdEmpleadoMoldeadorFk)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdEmpleadoEmpacadorFk)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdMaquinaFk)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaOrdenTrabajo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CantidadPiezasPororden)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CajasRecibidas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PiezasRealizadas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HoraInicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HoraFinalizacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdEmpeadoSupervisorFk)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EtiquetaDeCaja)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdEstandarConRelevoFk)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdEstandarPorHoraFk)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaxScrap)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdCodigoOrdenTrabajo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdEstadoOrdenFkNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdInstructivoFkNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdParteFkNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdEmpleadoMoldeadorFk)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdEmpleadoEmpacadorFk)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdMaquinaFk)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaOrdenTrabajo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CantidadPiezasPororden)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CajasRecibidas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PiezasRealizadas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoraInicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoraFinalizacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdEmpeadoSupervisorFk)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EtiquetaDeCaja)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdEstandarConRelevoFk)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdEstandarPorHoraFk)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxScrap)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdCodigoOrdenTrabajo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdEstadoOrdenFkNavigation.IdEstadoOrden)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdInstructivoFkNavigation.IdInstructivo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdParteFkNavigation.IdParte)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdOrdenTrabajo">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdOrdenTrabajo">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdOrdenTrabajo">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
