@model OTMF_NETCORE_MVC.Models.Parte

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Parte</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdCodigoParte)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdCodigoParte)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Aluminio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Aluminio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdParteAccesorioFk)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdParteAccesorioFk)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PiezasPorCaja)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PiezasPorCaja)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CajasPorTarima)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CajasPorTarima)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StdPintura)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StdPintura)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Costo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Costo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstandarPorHora)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstandarPorHora)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Scrap)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Scrap)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdCajaFkNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdCajaFkNavigation.IdCaja)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdClienteFkNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdClienteFkNavigation.IdCliente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdColorFkNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdColorFkNavigation.IdColor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdEnsambleFkNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdEnsambleFkNavigation.IdEnsamble)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdEstandarConRelevoFkNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdEstandarConRelevoFkNavigation.IdEstandarConRelevo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdEstandarFkNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdEstandarFkNavigation.IdEstandar)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdEtiquetaFkNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdEtiquetaFkNavigation.IdEtiqueta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdHuleFkNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdHuleFkNavigation.IdHule)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdInsertoFkNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdInsertoFkNavigation.IdInserto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdMoldeFkNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdMoldeFkNavigation.IdMolde)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdPinturaFkNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdPinturaFkNavigation.IdPintura)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdTarimaFkNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdTarimaFkNavigation.IdTarima)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdParte">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
