@model IEnumerable<OTMF_NETCORE_MVC.Models.Instructivo>

@{
    ViewData["Title"] = "Index";
}

<div class="container-fluid">
    <div class="row">
    <div class="col-3">
        <fieldset>
            <legend><h5 class="display-6">Gestionar</h5></legend>
        <div class="d-flex flex-column flex-shrink-0 p-1 bg-light">
  
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a  asp-controller="OrdenTrabajoes"  asp-action="Index" class="nav-link link-dark" aria-current="page">
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#home"></use></svg>
          Ordenes de Trabajo
        </a>
      </li> <li class="nav-item">
        <a class="nav-link active" asp-controller="Instructivoes"  asp-action="Index">
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#home"></use></svg>
           Instructivo 
        </a>
      </li>
      <li>
        <a class="nav-link link-dark" asp-controller="Maquinas"  asp-action="Index">
            <svg class="bi me-2" width="16" height="16"></svg>
          Maquina
        </a>
      </li>
          <li>
        <a class="nav-link link-dark" asp-controller="EstadoOrdens"  asp-action="Index">
            <svg class="bi me-2" width="16" height="16"></svg>
         Estado OT
        </a>
      </li> 
      
    </ul>
    <hr>
  
  </div>
  </fieldset>
    </div>

        <div class="col-9">
            <fieldset>
                <legend>Instructivos</legend>
                    <table class="table" id="Instructivos">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombreInstructivo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreInstructivo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdInstructivo">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdInstructivo">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdInstructivo">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>


            </fieldset>
  
    </div>
    </div>
    



</div>


@section Scripts{
    <script>
        
$(document).ready(function () {


    $("#Instructivos").DataTable({
          dom:'Bfrtip',
        buttons:[
             {
                text:'<i class="fa fa-plus" aria-hidden="true"><div class="badge"></div></i>',
                tittleAttr: 'creadas hoy',
                className:'btn btn-lg btn-secondary',
                action: function() {
                    
                    window.location.href = "@Url.Action("Create")";
                 
                }
            }
        ]
    });

   


});


    </script>
}


